---
// Assets
import Logo from "@/components/assets/Logo.astro";
import ThemeToggle from "@/components/assets/ThemeToggle.astro";

// Components
import BlogSearch from "@/components/blog/BlogSearch.astro";
import NavigationLinks from "@/components/navigation/NavigationLinks.astro";
---

<div
  class="z-50 hidden bg-white dark:bg-base-950 lg:flex md:w-64 md:flex-col md:fixed md:inset-y-0"
>
  <div class="flex flex-col flex-1 relative min-h-0">
    <div
      class="flex flex-col flex-1 pt-8 pb-4 overflow-y-auto scrollbar-hide px-8"
    >
      <a href="/" aria-label="Go to homepage">
        <span class="sr-only">Go to homepage</span>
        <Logo class="size-10 text-base-900 dark:text-white" />
      </a>
      <nav class="flex-1"><NavigationLinks class="mt-8" /></nav>
    </div>
    <div class="flex flex-shrink-0 py-4 px-6 items-center justify-between">
      <ThemeToggle />
      <BlogSearch />
    </div>
  </div>
</div>
