---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import WorkEntries2 from "@/components/work/WorkEntries2.astro";
import WorkFilters from "@/components/work/WorkFilters.astro";
// Content
import { getCollection } from "astro:content";
const allWork = await getCollection("work");
---

<BaseLayout>
  <section>
    <Wrapper class="py-8">
      <div class="overflow-hidden">
        <Text
          tag="h1"
          variant="textXL"
          data-aos="fade-up"
          data-aos-duration="1000"
          class="dark:text-white text-base-900 text-balance"
        >
          Case Studies
        </Text>
      </div>
      
      <!-- Filters -->
      <WorkFilters allWork={allWork} />
      
      <!-- Work Grid -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-y-12 lg:gap-1" id="work-grid">
        {allWork.map((post) => <WorkEntries2 post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>