---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Sections
import Hero from "@/components/landing/Hero.astro";
import Process from "@/components/landing/Process.astro";
// Components
import BlogEntries1 from "@/components/blog/BlogEntries1.astro";
import WorkEntries1 from "@/components/work/WorkEntries1.astro";
// Content
import { getCollection } from "astro:content";
const allWork = await getCollection("work");
// Sort posts by date
const allPosts = await getCollection("posts");
allPosts.sort((a, b) => {
  const dateA = new Date(a.data.pubDate).getTime(); // Convert to timestamp
  const dateB = new Date(b.data.pubDate).getTime(); // Convert to timestamp
  return dateB - dateA; // Compare timestamps
});
---

<BaseLayout>
  <Hero />
  <section>
    <Wrapper class="py-24">
      <div class="overflow-hidden">
        <Text
          tag="h3"
          variant="textLG"
          data-aos="fade-up"
          data-aos-duration="1000"
          class="dark:text-white text-base-900 text-balance"
        >
          Featured work
        </Text>
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-y-12 lg:gap-1 mt-1 pt-4 relative before:absolute after:absolute before:bg-black after:bg-base-200 dark:before:bg-base-50 dark:after:bg-base-50/10 before:top-0 before:left-0 before:h-px before:w-18 after:top-0 after:right-0 after:left-20 after:h-px"
      >
        {allWork.slice(0, 3).map((post) => <WorkEntries1 post={post} />)}
      </div>
      <div
        class="flex justify-end mt-4 pt-2 relative before:absolute after:absolute before:bg-black after:bg-base-200 dark:before:bg-base-50 dark:after:bg-base-50/10 before:top-0 before:left-0 before:h-px before:w-18 after:top-0 after:right-0 after:left-20 after:h-px"
      >
        <Text
          tag="a"
          href="/work"
          variant="textBase"
          class="dark:text-base-400 text-base-500 text-balance"
        >
          All work
        </Text>
      </div>
    </Wrapper>
  </section>
  <Process />
  <section>
    <Wrapper class="py-24">
      <div class="overflow-hidden">
        <Text
          tag="h3"
          variant="textLG"
          data-aos="fade-up"
          data-aos-duration="1000"
          class="dark:text-white text-base-900 text-balance"
        >
          Latest relfexions
        </Text>
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-y-12 lg:gap-1 mt-1 pt-4 relative before:absolute after:absolute before:bg-black after:bg-base-200 dark:before:bg-base-50 dark:after:bg-base-50/10 before:top-0 before:left-0 before:h-px before:w-18 after:top-0 after:right-0 after:left-20 after:h-px"
      >
        {allPosts.slice(0, 4).map((post) => <BlogEntries1 post={post} />)}
      </div>
      <div
        class="flex justify-end mt-4 pt-2 relative before:absolute after:absolute before:bg-black after:bg-base-200 dark:before:bg-base-50 dark:after:bg-base-50/10 before:top-0 before:left-0 before:h-px before:w-18 after:top-0 after:right-0 after:left-20 after:h-px"
      >
        <Text
          tag="a"
          href="/blog"
          variant="textBase"
          class="dark:text-base-400 text-base-500 text-balance"
        >
          All relfexions
        </Text>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
