---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import WorkEntries4 from "@/components/work/WorkEntries4.astro";
// Content
import { getCollection } from "astro:content";
const allWork = await getCollection("work");
---

<BaseLayout>
  <section>
    <Wrapper class="py-8">
      <div class="overflow-hidden">
        <Text
          tag="h1"
          variant="textXL"
          data-aos="fade-up"
          data-aos-duration="1000"
          class="dark:text-white text-base-900 text-balance"
        >
          All work
        </Text>
      </div>
      <div
        class="grid grid-cols-1 md:grid-cols-2 gap-y-12 lg:gap-x-8 lg:gap-y-12 mt-4"
      >
        {allWork.map((post) => <WorkEntries4 post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
