---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Button from "@/components/fundations/elements/Button.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---

<section>
  <Wrapper variant="standard" class="py-8">
    <div class="overflow-hidden">
      <Text
        tag="h1"
        variant="textXL"
        data-aos="fade-up"
        data-aos-duration="1000"
        class="dark:text-white text-base-900 "
      >
        Sing up
      </Text>
    </div>
    <form class="mt-2 max-w-sm">
      <div class="flex flex-col gap-2">
        <!-- Email Field -->
        <div>
          <label for="email" class="sr-only">Email</label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter your email"
            autocomplete="email"
            class="w-full flex-auto appearance-none rounded-md outline outline-base-200 dark:outline-base-800 dark:text-white text-base-900 outline-inset border-transparent px-3 py-2 shadow-base-800/5 dark:placeholder:text-base-400 dark:place-holder-text-base-600 duration-300 h-9 focus:border-base-500 focus:outline-none focus:outline-4 focus:outline-base-500/10 sm:text-sm bg-base-50 dark:bg-base-800"
          />
        </div>
        <!-- Password Field -->
        <div>
          <label for="password" class="sr-only">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Choose a password"
            autocomplete="new-password"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
            title="Use at least 8 characters, including 1 uppercase, 1 lowercase, 1 digit, and 1 special character."
            class="w-full flex-auto appearance-none rounded-md outline outline-base-200 dark:outline-base-800 dark:text-white text-base-900 outline-inset border-transparent px-3 py-2 shadow-base-800/5 dark:placeholder:text-base-400 dark:place-holder-text-base-600 duration-300 h-9 focus:border-base-500 focus:outline-none focus:outline-4 focus:outline-base-500/10 sm:text-sm bg-base-50 dark:bg-base-800"
          />
          <p class="mt-2 text-xs text-base-500">
            Use at least 8 characters, 1 uppercase, 1 lowercase, 1 digit, and 1
            special character for your password.
          </p>
        </div>

        <!-- Confirm Password Field -->
        <div class="mt-4">
          <label for="confirm-password" class="sr-only">Confirm Password</label>
          <input
            type="password"
            name="confirm-password"
            id="confirm-password"
            placeholder="Confirm your password"
            autocomplete="new-password"
            class="w-full flex-auto appearance-none rounded-md outline outline-base-200 dark:outline-base-800 dark:text-white text-base-900 outline-inset border-transparent px-3 py-2 shadow-base-800/5 dark:placeholder:text-base-400 dark:place-holder-text-base-600 duration-300 h-9 focus:border-base-500 focus:outline-none focus:outline-4 focus:outline-base-500/10 sm:text-sm bg-base-50 dark:bg-base-800"
          />
        </div>
      </div>

      <!-- Submit Button -->
      
      <div class="mt-2">
        <Button size="sm" variant="default" type="submit" class="w-full">
          Sign up
        </Button>
        <Text
          tag="p"
          variant="textXS"
          class="mt-4 text-base-500 dark:text-base-400"
        >
          Already have an account?
          <a class="text-accent-400 hover:text-base-500" href="/forms/signin"
            >Sign in instead</a
          >
        </Text>
      </div>
    </form>
  </Wrapper>
</section>
